<!--The content below is only a placeholder and can be replaced.-->
<div class="content__wrapper">
  <div class="content">
    <div class="content__container">
      <span class="content__container__text">
        Hi I am
      </span>

      <ul class="content__container__list">
        <li class="content__container__list__item" *ngFor="let contentItem of contentList">
          {{contentItem}}</li>
        </ul>
  </div>
  <div class="social-links">
    <a href="mailto:guptachiranjeev.13@gmail.com" title="guptachiranjeev.13@gmail.com" target="_blank">
      <i class="fas fa-envelope"></i>
    </a>
    <a href="https://www.linkedin.com/in/chiranjeev-gupta/" title="linkedin.com/in/chiranjeev-gupta" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="https://www.facebook.com/cran.cg/" title="facebook.com/cran.cg" target="_blank">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="https://www.twitter.com/cran_cg/" title="twitter.com/cran_cg" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.github.com/cran-cg/" title="github.com/cran-cg" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </div>
</div>
<div class="footer">
    <p>Made with <i class="fas fa-heart red"></i> + <i class="fab fa-angular"></i> in India</p>
</div>
</div>
