<div class="venue-content">
  <h2>Venue Details</h2>
  <div class="venue-info">
    <div class="info-section">
      <i class="fa fa-building"></i>
      <h3>Venue Name</h3>
      <p>To be announced</p>
    </div>
    <div class="info-section">
      <i class="fa fa-map-marker-alt"></i>
      <h3>Address</h3>
      <p>To be announced</p>
    </div>
    <div class="info-section">
      <i class="fa fa-phone"></i>
      <h3>Contact</h3>
      <p>To be announced</p>
    </div>
  </div>
  <div class="map-placeholder">
    <p>Map will be displayed here</p>
  </div>
</div>
