<div class="gallery-content">
  <h2>Photo Gallery</h2>
  <div class="gallery-grid">
    <div class="gallery-placeholder">
      <i class="fa fa-image"></i>
      <p>Photos coming soon</p>
    </div>
    <div class="gallery-placeholder">
      <i class="fa fa-image"></i>
      <p>Photos coming soon</p>
    </div>
    <div class="gallery-placeholder">
      <i class="fa fa-image"></i>
      <p>Photos coming soon</p>
    </div>
    <div class="gallery-placeholder">
      <i class="fa fa-image"></i>
      <p>Photos coming soon</p>
    </div>
    <div class="gallery-placeholder">
      <i class="fa fa-image"></i>
      <p>Photos coming soon</p>
    </div>
    <div class="gallery-placeholder">
      <i class="fa fa-image"></i>
      <p>Photos coming soon</p>
    </div>
  </div>
</div>
